#yui-main
  .yui-b
    .yui-g
      %h1
        %img.profile{ :src => '/img/user.png' }
        %a{ :href => "/user/#{@user.username}" }= @user.username
      %form{ :action => '/post', :method => 'post' }
        %input{ :name => 'status', :type => 'text' }
        %button Post
      %hr
      %ul
        - @user.timeline.each do |t|
          %li.tweet
            %a{ :href => "/user/#{t.username}" }
              %img.profile{ :src => '/img/user.png' }
            %a{ :href => "/user/#{t.username}" }= t.username
            = t.status
.yui-b
  #info
    #following
      %a{ :href => "/user/#{@user.username}/following" }
        Following:
        %span.count
          = @user.following.count
    #followers
      %a{ :href => "/user/#{@user.username}/followers" }
        Followers:
        %span.count
          = @user.followers.count
