- content_for :header do
  %aside.right
    %h1
      %img.profile{ :src => '/img/user.png' }
      %a{ :href => "/user/#{@user.username}" }= @user.username
    #following
      %a{ :href => "/user/#{@user.username}/following" }
        Following:
        %span.count
          = @user.following.count
    #followers
      %a{ :href => "/user/#{@user.username}/followers" }
        Followers:
        %span.count
          = @user.followers.count

%section#main
  %fieldset
    %form{ :action => '/post', :method => 'post' }
      %textarea{ :name => 'status' }
      %button Post
      #count
  %ul
    - @user.timeline.each do |t|
      %li 
        %a{ :href => "/user/#{t.username}", :class => "user" }
          %img.profile{ :src => '/img/user.png' }
        %a{ :href => "/user/#{t.username}" }= t.username
        = t.status
      


