- content_for :header do
  %aside.right
    #following
      %a{ :href => "/user/#{@profile.username}/following" }
        Following:
        %span.count
          = @profile.following.count
    #followers
      %a{ :href => "/user/#{@profile.username}/followers" }
        Followers:
        %span.count
          = @profile.followers.count
    #follow
      - if logged_in? && !@user.follows?(@profile.username)
        %form{ :action => "/user/#{@profile.username}/follow", :method => 'post' }
          %button Follow

#main
  %h1= "#{@profile.username}'s profile"
  %ul
    - @profile.tweets.each do |t|
      %li
        = t.status