.yui-b
  #info
    #following
      %a{ :href => "/user/#{@profile.username}/following" }
        Following:
        %span.count
          = @profile.following.count
    #followers
      %a{ :href => "/user/#{@profile.username}/followers" }
        Followers:
        %span.count
          = @profile.followers.count

#yui-main
  .yui-b
    .yui-g
      %h1= "#{@profile.username}'s profile"

      - if logged_in? && !@user.follows?(@profile.username)
        %form{ :action => "/user/#{@profile.username}/follow", :method => 'post' }
          %button Follow
      %ul
        - @profile.tweets.each do |t|
          %li
            = t.status